@define-color nvidia-green #76b900;
@define-color amdgpu-red #ed1c24;

#other,
#other-drawer,
#stats,
#stats-drawer {
  margin: 0 0.5em;
  padding-left: 5px;
  padding-right: 5px;
  /*color: @peach;*/
  color: @text;
  font-weight: bold;
  background-color: @background;
  border: 2px solid @border;
}
#battery,
#backlight
#cpu,
#memory,
#temperature,
#disk,
#custom-amd-gpu,
#custom-nvidia,
#memory,
#network {
  color: @text;
  padding: 0 0.5em;
}

/* Unique colors for modules */
/*
#cpu {
  color: @red;
}

#memory {
  color: @yellow;
}
#temperature {
  color: @green;
}

#network {
  color: @blue;
}

#custom-nvidia {
  color: @nvidia-green;
}

#custom-amd-gpu {
  color: @amdgpu-red;
} */

#network.disconnected {
  background-color: #f53c3c;
}

#temperature.critical {
  background-color: #eb4d4b;
}
