""" https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b?gi=952bee140daf
set relativenumber
set number
set clipboard=unnamedplus
vnoremap p "_dp
vnoremap P "_dP
set ignorecase
set smartcase
set incsearch
set scrolloff=8

let mapleader=" "

"plugins
set quickscope
set which-key
set notimeout
set easymotion
set surround

nnoremap <leader>, :action IdeaVim.ReloadVimRc.reload<CR>

nnoremap <SPACE> <Nop>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>
nnoremap <leader>q :action QuickJavaDoc<CR>
nnoremap <leader>f :action Find<CR>
nnoremap <leader>r :action Replace<CR>

nnoremap J mzJ`z
nnoremap S ht lr<cr>k$

vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

map <leader>l V<Action>(ReformatCode)
