[user]
    name = Lukas
    email = lukas.kopatz11@gmail.com
    signingkey = ~/.ssh/id_rsa.pub
[gpg]
    format = ssh
[alias]
    pushfwl = push --force-with-lease
    last = log -1 --stat
    now = commit --amend --date="now" --no-edit
    cp = cherry-pick
    co = checkout
    cl = clone
    ci = commit
    ca = !git add -A && git commit
    st = status -sb
    br = branch
    pr = pull --rebase
    unstage = reset HEAD --
    dc = diff --cached
    lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg = !"git lg1"
[color]
    ui = true
[rerere]
    enabled = true
    autoupdate = true
[merge]
  conflictstyle = diff3
[mergetool]
    keeptemporaries = false
    keepbackups = false
    prompt = false
    trustexitcode = false
[commit]
    verbose = true
[column]
    ui = auto
[pull]
    ff = true
[push]
    autoSetupRemote = true
    followTags = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[diff]
    algorithm = histogram
    colorMoved = plain
    renames = true
    mnemonicPrefix = true
[tag]
    sort = version:refname
[branch]
    sort = -committerdate
[blame]
    ignoreRevsFile = .git-blame-ignore-revs

[includeIf "gitdir/i:~/projects/github/**"]
    path = .gitconfig-github
[includeIf "gitdir/i:~/projects/gitea/**"]
    path = .gitconfig-gitea
[includeIf "gitdir/i:~/projects/fh/**"]
    path = .gitconfig-gitlabfh
[includeIf "gitdir/i:~/projects/evolit/**"]
    path = .gitconfig-evolit
[includeIf "gitdir/i:~/projects/selfhosted/**"]
    path = .gitconfig-selfhosted
[includeIf "gitdir/i:~/projects/it-experts/**"]
    path = .gitconfig-itexperts
